First xml/bookStore.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="https://www.inc.com"
           xmlns="https://www.inc.com"
           elementFormDefault="qualified">

  <xs:element name="book">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="title" type="xs:string"/>
        <xs:element name="author" type="xs:string"/>
        <xs:element name="ISBN">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="\d{13}"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="price" type="xs:decimal"/>
        <xs:element name="publicationDate" type="xs:date"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>