First xml/bookStore.dtd

<!DOCTYPE book [
    <!ELEMENT book (title, author, ISBN, price, publicationDate)>
    <!ELEMENT title (#PCDATA)>
    <!ELEMENT author (#PCDATA)>
    <!ELEMENT ISBN (#PCDATA)>
    <!ELEMENT price (#PCDATA)>
    <!ELEMENT publicationDate (#PCDATA)>
]>

<book xmlns="https://www.inc.com">
    <title>HAMLET</title>
    <author>WILLIAM SHAKESPEARE</author>
    <ISBN>1234567890123</ISBN>
    <price>15.99</price>
    <publicationDate>1905-01-01</publicationDate>
</book>