fouth xml/university.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.inc.com"
            xmlns="http://www.inc.com"
            elementFormDefault="qualified"
>
    <xs:element name="university">
        <xs:complexType>
            <xs:sequence>

                <xs:element name="student" maxOccurs="6">
                    <xs:complexType>
                        <xs:sequence>

                            <xs:element name="rollNumber">
                                <xs:simpleType>
                                    <xs:restriction base="xs:integer">
                                        <xs:minInclusive value="1000"></xs:minInclusive>
                                        <xs:maxInclusive value="9999"></xs:maxInclusive>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>

                            <xs:element name="name" type="xs:string"></xs:element>

                            <xs:element name="email">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:pattern value=".*@.*"></xs:pattern>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>

                            <xs:element name="courses" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="course" minOccurs="1" maxOccurs="6">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:pattern value="[a-zA-Z]{3}[0-9]{3}"></xs:pattern>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>

                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>