Third Xml/employee.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="https://www.inc.com"
           xmlns="https://www.inc.com"
           elementFormDefault="qualified">

    <xs:element name="employee">
        <xs:complexType>
            <xs:sequence>

                <xs:element name="empID">
                    <xs:simpleType>
                        <xs:restriction base="xs:integer">
                            <xs:minInclusive value="1000"/>
                            <xs:maxInclusive value="9999"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>

                <xs:element name="name" type="xs:string"/>  

                <xs:element name="department">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="HR"/>
                            <xs:enumeration value="IT"/>
                            <xs:enumeration value="Finance"/>
                            <xs:enumeration value="Marketing"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>

                <xs:element name="email">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value=".*@.*"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>

                <xs:element name="phone" minOccurs="0">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value="\d{10}"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>

                <xs:element name="skills" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="skill" maxOccurs="unbounded" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="joiningDate" type="xs:date"/>

            </xs:sequence>
        </xs:complexType>
    </xs:element>   
</xs:schema>